@import "home-page.less";
@import "grid.less";
@import "../../node_modules/leaflet/dist/leaflet.css";

.brand-logo img {
  margin: 8px;
  float: left;
}

body {
  margin: 0px;
}

.slider {
  .handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #bbb;
    background-color: white;

    &.active {
      top: -2px;
      width: 14px;
      height: 14px;
      border-color: rgb(0, 188, 212);
      background-color: rgb(0, 188, 212);
    }
  }

  .bar {
    top: 6px;
    height: 2px;
    background-color: #bbb;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
}